@font-face {
  font-family: 'Eurostile';
  src: url('../public/fonts/EurostileRegular.woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Eurostile', 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
